<header class="mat-elevation-z4">
	<nav>
		<div fxFlexLayout="row" fxLayoutAlign="center center">
		<div fxFlex="80">
			<a mat-button routerLink="Wednesday">Wednesday</a>
			<a mat-button routerLink="Thursday">Thursday</a>
			<a mat-button routerLink="Friday">Friday</a>
			<a mat-button routerLink="Saturday">Saturday</a>
			<a mat-button routerLink="Sunday">Sunday</a>
			<a mat-button routerLink="Monday">Monday</a>
		</div>
		<div fxFlex fxLayoutAlign="end center">
			<button mat-icon-button>
				<mat-icon>more_vert</mat-icon>
			</button>
		</div>
	</div>
	</nav>
</header>
			
			

