<header class="mat-elevation-z4">
	<nav>
		<div fxFlexLayout="row" fxLayoutAlign="center center">
		<div fxFlex="90">
			<a mat-button routerLink="/">
				<mat-icon>home</mat-icon>
			</a>
			<a mat-button routerLink="summary/{{day}}" *ngFor ='let day of days'>{{day}}</a>
		</div>
		<div fxFlex fxLayoutAlign="end center">
			<button mat-icon-button>
				<mat-icon>more_vert</mat-icon>
			</button>
		</div>
	</div>
	</nav>
</header>

<button mat-fab routerLink="editor">
	<mat-icon>add</mat-icon>
</button>
			
			

