<mat-card>
	<h1>Hello there Emily!</h1>
	Welcome to my week 1 project.  I know I said I would create a portfolio site, but creating an empty portfolio seemed depressing and wasn't well suited for the tools I told you I wanted to use.  Instead I made this little app for tracking my week in summary.  There's some neat stuff there, click the links above to see each day and stuff I did.  There's some fancy backend stuff here so I can add more dynamic content or expand this project to include a backend database.  Also, try changing the window size, I put some effort in so it looks good on mobile and desktop!
</mat-card>
