/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	margin: 0 0 0 0;
	background: #bec5b7;
}

.mat-card {
	margin: 1em 1em 1em 1em;
	background: #f1f8e9;
}

